<IfModule mod_rewrite.c>
    RewriteEngine On

    # config root url
    RewriteRule ^$ /sistem-persuratan-puskod/login.php [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^\.]+)$ $1.php [NC,L]
</IfModule>